@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap");
@import "tailwindcss";

@theme {
  --color-black: #515151;
  --color-lavender: #b1afff;
  --color-beige: #fff5e5;
  --color-green: #76cba7;
  --color-light-green: #b1d7b2;
  --font-body: "Quicksand", sans-serif;
}

.body {
  @apply font-body text-black;
}

.btn {
  @apply cursor-pointer rounded-md px-7 py-3 text-white transition active:scale-95;
}

.input {
  @apply focus:border-b-green flex-1 border-b-2 border-b-gray-200 p-1 transition focus-visible:outline-0;
}
